name: Release

on:
  push:
    tags:
      - 'v*'

concurrency: release

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        type: [sdk, server]
        os: [mac-arm64, linux, linux-arm64, windows]
        include:
          - type: server
            os: generic

    runs-on: ubuntu-latest

    needs: release_notes_combined

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Get publishing variables
        id: publish_vars
        uses: enonic/release-tools/publish-vars@master
        env:
          PROPERTIES_PATH: './gradle.properties'
          JAVA_HOME: ''

      - name: Verify release version
        if: steps.publish_vars.outputs.release != 'true'
        run: exit 1

      - name: Publish
        run: ./gradlew publish -Pos=${{ matrix.os }} -Ptype=${{ matrix.type }} -PrepoKey=${{ steps.publish_vars.outputs.repo }} -PrepoUser=ci -PrepoPassword=${{ secrets.ARTIFACTORY_PASSWORD }}

      - name: Download changelog
        if: matrix.os == 'generic'
        uses: actions/download-artifact@v6
        with:
          name: changelog

      - name: Create Release
        if: matrix.os == 'generic'
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.publish_vars.outputs.tag_name }}
          body_path: changelog.md
          release_name: Enonic XP Distro ${{ steps.publish_vars.outputs.version }}
          prerelease: ${{ steps.publish_vars.outputs.prerelease == 'true' }}

  release_notes_combined:
    runs-on: ubuntu-latest

    steps:
      - name: Combine Release Notes
        uses: enonic/release-tools/changelog-combiner@master
        with:
          repositories: app-admin-home app-applications app-users app-standardidprovider app-xp-welcome xp
          output-file: changelog.md
          github-token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}

      - uses: actions/upload-artifact@v6
        with:
          name: changelog
          path: changelog.md
